In [2]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\ranji\04_22_Instacart_Basket_Analysis'

In [4]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_4.7.pkl'))

# Tasks

In [5]:
#2 - Finding the mean on order number for the entire data frame
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457687
2                17.277920
3                17.179756
4                17.811403
5                15.213779
6                16.439806
7                17.225773
8                15.340520
9                15.895474
10               20.197148
11               16.170828
12               15.887622
13               16.583304
14               16.757377
15               16.165037
16               17.663250
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# There are alot more department ids in the enitre DF.

In [6]:
#3 Creating Loyalaty Flag using Transform and then loc()
df_ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
#5 Statistics of Loyalty Flag column - New customers seem to spend more on higher prices products
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.388747  1.0  99999.0
New customer      13.294370  1.0  99999.0
Regular customer  12.496203  1.0  99999.0

In [11]:
#6 Creating spending flag based on mean
df_ords_prods_merge['average_spent'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

df_ords_prods_merge.loc[df_ords_prods_merge['average_spent'] < 10, 'spending_flag'] = 'Low spender'
df_ords_prods_merge.loc[(df_ords_prods_merge['average_spent'] >= 10), 'spending_flag'] = 'High spender'

In [15]:
#7 Creating frequency flag based on median
df_ords_prods_merge['order_frquency'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

df_ords_prods_merge.loc[df_ords_prods_merge['order_frquency'] > 20, 'frequency_flag'] = 'Non-frequent customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['order_frquency'] >10) & (df_ords_prods_merge['order_frquency'] <= 20), 'frequency_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['order_frquency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [18]:
#Exporting file
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_4.8.pkl'))